body {
    margin: 0;
    margin-top: 50px;
    font-family: Georgia;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    line-height: 100px;
    background-color: #eee;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header * {
    display: inline;
    height: 50px;
}

header ul {
    padding: 0;
}

header li {
    margin-left: 20px;
}


section {
    height: 100vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer {
    text-align: center;
    padding: 50px;
}

#players .profile-img {
  vertical-align: middle;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.column {
  float: left;
  width: 16%;
  padding: 6px;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
