<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
    <title> Death Stats </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/fortnite_stats.github.io/css/main.css"> 
  </head>


  <body>
    <header class="page-header">
      <nav>
        <ul class="player-menu">
          <li class="menu-heading">
            <h3>Players</h3>
          </li>
          <li><a href="/fortnite_stats.github.io/">Home</a></li>
          <li><a href="/fortnite_stats.github.io/anicetnetennaba">A Nice Tnetennba</a></li>
          <li><a href="/fortnite_stats.github.io/boulderman94">Boulderman69</a></li>
          <li><a href="/fortnite_stats.github.io/ham08">Pum08</a></li>
          <li><a href="/fortnite_stats.github.io/jellybeanandgone">JellyBeanAndGone</a></li>
          <li><a href="/fortnite_stats.github.io/n00dlesu">N00dleSu</a></li>
          <li><a href="/fortnite_stats.github.io/rakdoz">Rakdoz</a></li>
        </ul>
      </nav>
    </header>
    
    <div class="container">
      
      {{ content }}

    </div>
  
  <footer>
   @ NoodleSu
  </footer>
 </body>

</html>
