<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
    <title> Death Stats </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/fortnite_stats.github.io/css/main.css"> 
  </head>


  <body>
    <header class="page-header">
      <nav>
        <ul class="player-menu">
          <li class="menu-heading">
            <h3>Players</h3>
          </li>
          <li><a href="D:\Fortnite\pages\anicetnetennba.html">A Nice Tnetennba</a></li>
          <li><a href="D:\Fortnite\pages\boulderman94.html">Boulderman69</a></li>
          <li><a href="D:\Fortnite\pages\ham08.html">Pum08</a></li>
          <li><a href="D:\Fortnite\pages\jellybeanandgone.html">JellyBeanAndGone</a></li>
          <li><a href="D:\Fortnite\pages\n00dlesu.html">N00dleSU</a></li>
          <li><a href="D:\Fortnite\pages\rakdoz.html">Rakdoz</a></li>
        </ul>
      </nav>
    </header>
    
    <div class="container">
      
      {{ content }}

    </div>
  
  <footer>
   @ NoodleSu
  </footer>
 </body>

</html>
